<div class="w-100" style="overflow: auto">
  <table class="table table-bordered">
    <tbody>
      <tr *ngFor="let dataElement of dataElementsDetails; let count = index">
        <th style="width: 40px">
          {{ count + 1 }}
        </th>
        <td style="max-width: 300px">
          {{ dataElement?.name }}
        </td>
        <td
          *ngFor="
            let entryInput of dataElement?.categoryCombo?.categoryOptionCombos
          "
        >
          <app-dataelement-entry-field
            [entryInput]="entryInput"
            [dataElement]="dataElement"
            (openDialog)="onOpenDialog(datasources, $event)"
          ></app-dataelement-entry-field>
        </td>
      </tr>
    </tbody>
  </table>
</div>
