<div style="padding: 16px">
  <button nz-button nzType="default" (click)="backToList()">
    Back to List
  </button>
  <div
    *ngIf="loading"
    style="
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      z-index: 999;
    "
  >
    <div
      style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <nz-spin nzSimple nzSize="large"></nz-spin>
    </div>
  </div>
  <div *ngIf="!loading && !client">
    <nz-empty nzNotFoundImage="simple"></nz-empty>
  </div>
  <div *ngIf="client">
    <nz-card style="width: 100%; margin-top: 16px; min-height: 60vh">
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="7">
          <nz-card style="min-height: 60vh">
            <h2>Basic Information</h2>
            <ul class="no-bullets">
              <li *ngFor="let key of objectKeys(basicInfo)">
                <strong> {{ key }} </strong>: {{ basicInfo[key] }}
              </li>
            </ul>
          </nz-card>
        </div>
        <div nz-col nzSpan="17">/
          <nz-card style="min-height: 60vh">
            <div>
            <h2>Appointments</h2>
              <nz-collapse nzAccordion>
                @for (panel of extraInfo; track panel; let i = $index) {
                  <nz-collapse-panel [nzHeader]="(i+1) + '. ' + panel.sectionTitle">

                    <nz-table [nzData]="panel.info" [nzFrontPagination]="false" [nzShowPagination]="false">
                      <thead>
                        <tr>
                          <th>SN</th>
                          <th>Appointment ID</th>
                          <th>Facility</th>
                          <th>Status</th>
                          <th>Service</th>
                          <th>Payment Status</th>
                        </tr>
                      </thead>
                      <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                        @for (data of panel.info; track data; let j = $index) {
                          <tr cdkDrag>
                            <td>{{ j + 1 }}</td>
                            <td>{{ data['Appointment ID'] }}</td>
                            <td>{{ data['Facility'] }}</td>
                            <td>{{ data['Status'] }}</td>
                            <td>{{ data['Service Name'] }}</td>
                            <td>{{ data['Payment Status'] }}</td>
                          </tr>
                        }
                      </tbody>
                    </nz-table>
                  </nz-collapse-panel>
                }
              </nz-collapse>
            </div>
          </nz-card>
        </div>
      </div>
    </nz-card>
  </div>
</div>
