/* You can add global styles to this file, and also import other style files */

@import 'node_modules/ng-zorro-antd/ng-zorro-antd.less';
@import url('./assets/lib/hljs/styles/atom-one-light.css');
@import url('../node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css');
@import url('../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@import './assets/scss/app.scss'

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less
@primary-color: #1890ff;
@warn-color: #faad14;
@error-color: #f5222d;
@success-color: #52c41a;
@info-color: #1890ff; //


:root {
    --primary-color: @primary-color;
}
