<ng-container
  *ngIf="{
    currentSelectedProcess: currentSelectedProcess$ | async
  } as editorData"
>
  <!-- {{ editorData?.currentSelectedProcess | json }} -->
  <!-- {{ codeSnippet | json }} -->
  <nz-card nzTitle="Code Snippet Configuration" [nzBordered]="false">
    <nz-collapse>
      <nz-collapse-panel
        [nzHeader]="'Workflow Tree Configuration'"
        [nzActive]="true"
        [nzDisabled]="false"
      >
        <div nz-row>
          <div nz-col nzSpan="12">
            <nz-select
              class="ng-editor-select"
              [(ngModel)]="editorOptionsParams.theme"
              (ngModelChange)="onThemeChange($event)"
              style="flex: 1"
            >
              <nz-option nzValue="vs-light" nzLabel="Light Theme"></nz-option>
              <nz-option nzValue="vs-dark" nzLabel="Dark Theme"></nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="12">
            <nz-select
              class="ng-editor-select"
              [(ngModel)]="editorOptionsParams.language"
              (ngModelChange)="onLanguageChange($event)"
              style="flex: 1"
            >
              <nz-option nzValue="javascript" nzLabel="JavaScript"></nz-option>
              <nz-option nzValue="typescript" nzLabel="TypeScript"></nz-option>
            </nz-select>
          </div>
        </div>
      </nz-collapse-panel>
      <nz-collapse-panel
        [nzHeader]="'Code Editor'"
        [nzActive]="true"
        [nzDisabled]="false"
      >
        <app-code-editor-container
          *ngIf="editorData.currentSelectedProcess?.script"
          [editorOptionsParams]="editorOptionsParams"
          [codeSnippet]="editorData.currentSelectedProcess?.script"
        ></app-code-editor-container>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-card>
</ng-container>
