.code-editor {
    height: 60vh;
}

.ng-editor-select {
    width: 100%;
    background-color: red;
}

[nz-row] {
    background-color: rgba(128, 128, 128, 0.08) !important;
    margin: 5px;
}

.align-button-right {
    text-align: right !important;
}

.update-code-snippet-btn {
    width: 100%;
}