.inner-content {
  padding: 16px;
  margin-top: 50px;
}

.column {
  height: 74vh;
  overflow: auto;
}

.card {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.collapse-button {
  margin-bottom: 16px;
}
