# Database 
DB_DRIVER=mysql
DB_HOST=localhost:3306
DB_NAME=hduapicoredb
DB_USER=dbuser
DB_PASSWORD=dbpassword

FHIR_SERVER_URL=http://<fhir-server>/fhir
FILE_STORAGE_PATH=uploads

DEFAULT_USER=admin
DEFAULT_PASSWORD=AdminUser

SECURITY_SECRET=5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437
SECURITY_ACCESS_TOKEN_EXPIRY=900000
SECURITY_REFRESH_TOKEN_EXPIRY=1200000

HFR_URL=http://him-dev.moh.go.tz:5001