nz-content {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

.breadcrumb {
    background-color: #f0f2f5;
    padding: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.inner-content {
    flex: 1;
    overflow-y: auto;
    background-color: #fff;
    max-height: calc(100vh - 100px);
}