<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->

<div class="action-container">
    <!-- Search input with a button -->
    <!-- <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="flex: 1">
        <input type="text" nz-input placeholder="Search Workflows" />
    </nz-input-group>
    <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch>
            <span nz-icon nzType="search"></span>
        </button>
    </ng-template> -->

    <!-- Action button -->
    <!-- <button (click)="onAddProcess()" nz-button nzType="default" style="margin-left: 10px">
        Add Workflow
        <span nz-icon nzType="plus"></span>
    </button> -->
</div>

<div class="flow-chart-component-container">
    <app-flow-chart></app-flow-chart>
</div>

