<mat-drawer-container class="sidenav-container" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'" class="sidenav-drawer" opened="true">
    <ul class="navbar-nav mr-auto">
      <div *ngIf="isAdmin">
        <li class="nav-item active">
          <a
            class="nav-link"
            [ngClass]="{ 'active-route': selectedRoute === 'instances' }"
            (click)="onChangeRoute($event, 'instances')"
            >Instances
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ 'active-route': selectedRoute === 'sources' }"
            (click)="onChangeRoute($event, 'sources')"
            >Sources</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ 'active-route': selectedRoute === 'datasets' }"
            (click)="onChangeRoute($event, 'datasets')"
            >Datasets</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ 'active-route': selectedRoute === 'mapping' }"
            (click)="onChangeRoute($event, 'mapping')"
            >Mappings</a
          >
        </li>

        <!-- <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ 'active-route': selectedRoute === 'logs' }"
            (click)="onChangeRoute($event, 'logs')"
            >Logs</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ 'active-route': selectedRoute === 'settings' }"
            (click)="onChangeRoute($event, 'settings')"
            >Settings</a
          >
        </li> -->
      </div>

      <li class="nav-item">
        <a
          class="nav-link"
          [ngClass]="{ 'active-route': selectedRoute === 'reports' }"
          (click)="onChangeRoute($event, 'reports')"
          >Reports</a
        >
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <!-- <button mat-raised-button *ngIf="showSidenav" (click)="drawer.toggle(); changeIcon()" [innerHTML]="back"></button>
        <button mat-raised-button *ngIf="!showSidenav" (click)="drawer.toggle(); changeIcon()" >></button> -->

    <!-- Body of the app -->
    <!-- End boddy of the app -->
  </mat-drawer-content>
</mat-drawer-container>

<!-- <div>

  <mat-sidenav-container  class="page-container" autosize>
    <mat-sidenav #sidenav class="maintenance-sidenav" mode="side" opened="true">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/instances">Instances </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/sources">Sources</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/datasets">Datasets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/mapping">Mappings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/reports">Reports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/logs">Logs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/settings">Settings</a>
        </li>
    </ul>

    </mat-sidenav>

    <div class="page-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div> -->
