.sidenav-container {
  background-color: #fff;
  height: 93vh;
}

.sidenav-drawer {
  width: 10vw;
  background-color: transparent;
  /* background-color: #188cd9 ; */
  height: 100%;
  opacity: 0.9;
  /* border-right: solid 1px rgb(90, 85, 85); */
}

.sidenav-drawer ul {
  margin: 3vw 0 0 2.5vw;
}

.sidenav-drawer ul li {
  margin: 0 0 1vh;
}

.sidenav-drawer ul li a {
  color: black;
}

mat-drawer-content button {
  background-color: grey;
  color: #fff;
  font-size: 25px;
  height: 60px;
  border-radius: 50%;
}

.maintenance-sidebar {
  top: 50px;
  bottom: 0;
  left: 0;
  border-radius: 100;
  background: #fff;
  width: 200vh;
}

.page-sidenav-content {
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.maintenance-sidenav {
  user-select: none;
}
.full-width {
  width: 100%;
}

.active-route {
  color: #1a8cd8 !important;
  font-weight: 600;
}
