<div *ngIf="showAddInstanceForm" class="row add-form">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center">Add Instance</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-2">

                <form action="" (ngSubmit)="onSubmit()">
                    <div class="card p-4">
                        <div class="row">
                            <div class="col-4">
                                <label for="name"> Name </label>
                                <input type="text" name="name" [(ngModel)]="name" class="form-control"
                                    placeholder="instance name" required />
                                <div *ngIf="message && !name">
                                    <p class="text-danger">
                                        {{message}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-8">
                                <label for="url"> URL </label>
                                <input type="url" name="url" [(ngModel)]="url" class="form-control"
                                placeholder="https://www.your-instance.db" required />
                                <div *ngIf="message && !url">
                                    <p class="text-danger">
                                        {{message}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12">
                                <label for="username"> Organization Unit (OrgUnit) ID </label>
                                <input type="text" name="orgUnit" [(ngModel)]="orgUnit" class="form-control"
                                    placeholder="Organization Unit ID" required />
                                <div *ngIf="message && !orgUnit">
                                        <p class="text-danger">
                                            {{message}}
                                        </p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-6">
                                <label for="username"> Username </label>
                                <input type="text" name="username" [(ngModel)]="username" class="form-control"
                                    placeholder="Instance Username" required />
                                <div *ngIf="message && !username">
                                        <p class="text-danger">
                                            {{message}}
                                        </p>
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="password"> Password </label>
                                <input type="password" name="password" [(ngModel)]="password" class="form-control"
                                    placeholder="Instance Password" required />
                                    <div *ngIf="message && !password">
                                    <p class="text-danger">
                                        {{message}}
                                    </p>
                                </div>
                            </div>
                        </div> <br>
                        <div class="row mt-3">
                            <div class="col-12">
                                <button type="submit" class="btn btn-outline-success btn-block"> Save </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div> <br>