<div
  class="w-100"
  *ngIf="{ testQueryResponse: testQueryResponse$ | async } as params"
>
  <div class="h4">Playground</div>
  <div class="w-100">
    <section class="example-section">
      <mat-radio-group>
        <mat-radio-button
          color="primary"
          (change)="getPageToShow($event)"
          value="query"
          [checked]="selectedPage === 'query'"
          >Query</mat-radio-button
        >
        <mat-radio-button
          color="primary"
          (change)="getPageToShow($event)"
          value="report"
          [checked]="selectedPage === 'report'"
          >Report</mat-radio-button
        >
      </mat-radio-group>
    </section>
  </div>
  <div class="query-container mt-2" *ngIf="selectedPage === 'query'">
    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Instance: </mat-label>
          <mat-select (selectionChange)="getSelectedInstance($event)">
            <mat-option></mat-option>
            <mat-option
              *ngFor="let instance of data?.interoperabilityInstances"
              [value]="instance"
            >
              {{ instance.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Query</mat-label>
          <textarea
            [value]="testQuery"
            (keyup)="onGetTestQuery($event)"
            matInput
          ></textarea>
        </mat-form-field>
      </div>
      <div class="col-12 d-flex justify-content-left">
        <mat-form-field class="w-25" appearance="outline">
          <mat-label>Choose start date</mat-label>
          <input
            [max]="today"
            (dateInput)="getStartDate($event)"
            matInput
            [matDatepicker]="picker"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field
          style="margin-left: 16px"
          class="w-25"
          appearance="outline"
        >
          <mat-label>Choose end date</mat-label>
          <input
            [min]="startDate"
            [max]="today"
            (dateInput)="getEndDate($event)"
            matInput
            [matDatepicker]="endDate"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="endDate">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="data-container mt-2" *ngIf="selectedPage === 'report'">
    <div style="max-height: 50vh; overflow: auto">
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="!params?.testQueryResponse"
      ></mat-progress-bar>
      <table
        class="table table-bordered"
        *ngIf="params?.testQueryResponse && !params?.testQueryResponse?.error"
      >
        <thead>
          <tr>
            <th *ngFor="let header of params?.testQueryResponse?.headers">
              {{ header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dataRow of params?.testQueryResponse?.data">
            <td *ngFor="let header of params?.testQueryResponse?.headers">
              {{ dataRow[header] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div
    *ngIf="params?.testQueryResponse?.error"
    class="alert alert-danger"
    role="alert"
  >
    {{ params?.testQueryResponse?.error?.message }}
  </div>
  <div class="d-flex justify-content-end mt-2" *ngIf="selectedPage === 'query'">
    <button mat-stroked-button (click)="onCancel($event)">Cancel</button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!testQuery || !startDate || !endDate || !selectedInstance"
      class="ml-2"
      style="margin-left: 16px"
      (click)="onRun($event)"
    >
      Run
    </button>
  </div>
</div>
