.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.general-code-form {
    max-width: 600px;
    width: 100%;
    padding: 24px;
    background: #ffffff;
    border-radius: 8px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09); */
}

.alert-container {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    z-index: 1000;
    /* Ensure it is above other elements */
}

nz-select {
    width: 100%;
}