<div class="w-100 d-flex justify-content-between">
  <div style="width: 160px; border-right: solid 1px #eee">
    <app-sidenav [selectedRoute]="'instances'"></app-sidenav>
  </div>
  <div class="row mt-4" style="width: calc(100% - 169px)">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <h3 class="text-">Instances</h3>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="instances">
        <div class="col-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Instance Name</th>
                <th>URL</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let instance of instances; odd as isOdd">
              <tr [ngClass]="{ 'table-secondary': isOdd }">
                <td>{{ instance.name }}</td>
                <td>{{ instance.url }}</td>
                <td>
                  <div class="buttons">
                    <a
                      class="btn btn-outline-primary ml-2"
                      (click)="openDialog(instance)"
                    >
                      <fa-icon [icon]="faEdit"></fa-icon>
                    </a>
                    <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->

                    <a
                      class="btn btn-outline-danger"
                      style="margin-left: 8px"
                      (click)="onDelete(instance)"
                    >
                      <fa-icon [icon]="faTrash"></fa-icon>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div
                class="alert alert-{{
                  messageType
                }} alert-dismissible fade show"
                *ngIf="message"
                role="alert"
              >
                {{ message }}
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
            </div>
          </div>
          <app-add-instance
            [showAddInstanceForm]="showAddInstanceForm"
            (onAddInstance)="addInstance($event)"
          ></app-add-instance>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-9"></div>
        <div class="col-3 float-right">
          <div>
            <app-button
              [ngStyle]="{
                padding: '90px',
                margin: '0 0 0 -0vw'
              }"
              backgroundColor="{{
                showAddInstanceForm ? 'red' : 'transparent'
              }}"
              fontColor="{{ showAddInstanceForm ? 'white' : 'green' }}"
              borderColor="{{ showAddInstanceForm ? 'red' : 'green' }}"
              text="{{ showAddInstanceForm ? 'Hide Form' : 'Add Instance' }}"
              (btnClick)="onToggle()"
            >
            </app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
