<div class="container-fluid">
  <div class="row p-3 mt-4">
    <div class="col"></div>
    <div class="col-3 mt-5">
      <div class="form card p-4 w-100">
        <div class="h3 text-center">
          <img class="logo text-center" src="" />
        </div>
        <div class="h3 text-center">
          <b>iAdapter</b>
        </div>
        <div class="p-4 w-100" style="margin-top: -20px">
          <mat-form-field class="mt-4 w-100">
            <mat-icon matPrefix>person</mat-icon>
            <input
              matInput
              required
              autocomplete="off"
              [(ngModel)]="username"
              placeholder="Username"
            />
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-icon matPrefix>lock</mat-icon>
            <input
              [type]="hide ? 'password' : 'text'"
              matInput
              required
              autocomplete="off"
              placeholder="Password"
              [(ngModel)]="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <div class="d-flex justify-content-end">
            <a class="forgot-credentials text-muted" style="margin-top: -16px"
              >Forgot username or password?</a
            >
          </div>
          <button
            mat-flat-button
            color="primary"
            class="mb-4 mt-4 login-button w-100"
            (click)="onLogin($event)"
          >
            <mat-spinner
              *ngIf="(authenticatingUser$ | async) && !(error$ | async)"
              diameter="20"
              strokeWidth="3"
              color="primary"
            ></mat-spinner>
            Login
          </button>
        </div>
        <p class="text-danger text-center" *ngIf="error$ | async">
          {{ (error$ | async)?.error?.error }}
        </p>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
