.inner-content {
  width: 100%;
  margin-top: 66px;
  padding: 16px;
}

.add-button {
  margin-bottom: 16px;
}

nz-form-label {
  margin-right: 16px;
  margin-bottom: 8px;
}

nz-form-control {
  width: 100%;
}
