<div style="padding: 16px">
  <div style="margin-bottom: 16px">
    <lib-search-bar
      [labelText]="'Search client:'"
      (inputSearchValue)="onDatasetsSearchInputTyping($event)"
    ></lib-search-bar>
  </div>

  <nz-table
    nzShowSizeChanger
    [nzData]="listOfDeduplications"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
      <tr>
        <th>SN</th>
        <th>First Name</th>
        <th>Surname</th>
        <th>Gender</th>
        <!-- <th>Types</th> -->
        <!-- <th>Keys</th> -->
        <th>Duplicates</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (data of listOfDeduplications; track data.name; let i = $index;) {
      <tr>
        <td>{{ pageIndex === 1 ? i + 1 : (pageIndex - 1) * 10 + i + 1 }}</td>
        <td>{{ data.given }}</td>
        <td>{{ data.family }}</td>
        <td>{{ data.getGender() }}</td>
        <!-- <td>{{ data.types?.join(', ') }}</td> -->
        <!-- <td>
          {{ data.keys && data.keys.length > 0 ? data.keys[0] : 'N/A' }}
        </td> -->
        <td>{{ data.total }}</td>
        <td>
          <button
            nz-button
            nzType="text"
            class="view-button"
            (click)="viewDeduplicationDetails(data)"
          >
            View
          </button>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
</div>
