<div style="padding: 16px">
  <div style="margin-bottom: 16px">
    <app-search [labelText]="'Search client:'"></app-search>
  </div>

  <nz-table
    nzShowSizeChanger
    [nzData]="listOfDeduplications"
    [nzFrontPagination]="false"
    [nzLoading]="loading"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
      <tr>
        <th>SN</th>
        <th>Client ID</th>
        <th>First name</th>
        <th>Middle name</th>
        <th>Surname</th>
        <th>Gender</th>
        <th>ID number</th>
        <th>ID type</th>
        <th>Associated duplicates</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (data of listOfDeduplications; track data.fname; let i = $index;) {
      <tr>
        <td>{{ i + 1 }}</td>
        <td>
          <!-- Use primary color from theme  -->
          <span style="color: #1890ff">{{ data.clientID }}</span>
        </td>
        <td>{{ data.fname }}</td>
        <td>{{ data.mname }}</td>
        <td>{{ data.surname }}</td>
        <td>{{ data.gender }}</td>
        <td>{{ data.idNUmber }}</td>
        <td>{{ data.idType }}</td>
        <td style="text-align: center">{{ data.associatedDuplicates }}</td>
        <td>
          <button
            nz-button
            nzType="text"
            style="color: #1890ff"
            (click)="viewClientDetails()"
          >
            View
          </button>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
</div>
