<div>
    <br>
    <nz-input-group [nzSuffix]="searchSuffix">
      <input
        type="text"
        nz-input
        [(ngModel)]="searchTerm"
        placeholder="Search by workflows"
      />
    </nz-input-group>
    
    <ng-template #searchSuffix>
      <i nz-icon nzType="search"></i>
    </ng-template>
    <br>
    <br>
    <nz-table #basicTable [nzData]="paginatedData" [nzBordered]="true">
      <thead>
        <tr>
          <th class="text-align-center" nzWidth="10px">SN</th>
          <th class="text-align-center" nzWidth="200px">Name</th>
          <th class="text-align-center" nzWidth="150px">Last Run</th>
          <th class="text-align-center" nzWidth="50px">Status</th>
          <th class="text-align-center" nzWidth="150px">Created</th>
          <th class="text-align-center" nzWidth="150px">Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basicTable.data" (click)="onRowClick(item)" style="cursor: pointer;">
          <td class="text-align-center">{{ item.sn }}</td>
          <td>{{ item.name }}</td>
          <td class="text-align-center">{{ item.lastRun }}</td>
          <td class="text-align-center text-status" [ngClass]="getStatusClass(item.status)" style="text-align: center;">
            {{ item.status }}
          </td>
          <td class="text-align-center">{{ item.created }}</td>
          <td class="text-align-center">{{ item.lastUpdated }}</td>
        </tr>
      </tbody>
    </nz-table>
    
    <!-- <nz-pagination
      [nzPageSize]="pageSize"
      [nzTotal]="filteredData.length"
      [(nzPageIndex)]="currentPage"
      (nzPageIndexChange)="currentPage = $event"
      [nzShowQuickJumper]="true"  
      [nzShowSizeChanger]="true"   
      [nzPageSizeOptions]="[12, 20, 50]" 
      style="margin-top: 20px;" 
    ></nz-pagination> -->
  </div>
  