.inner-content {
  margin: 16px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 24px;
}

.breadcrumb {
  margin-bottom: 24px;
}

.validation-form {
  max-width: 800px;
  margin: auto;
}

.cancel-button {
  margin-left: 8px;
}
