<nz-layout>
  <nz-content>
    <div class="inner-content">
      <nz-breadcrumb class="breadcrumb">
        <nz-breadcrumb-item>
          <a [routerLink]="['/validations']">Validations</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>{{
          isEditMode ? 'Edit Validation' : 'Add New Validation'
        }}</nz-breadcrumb-item>
      </nz-breadcrumb>

      <form
        nz-form
        [nzLayout]="'vertical'"
        [formGroup]="validationForm"
        (ngSubmit)="saveForm()"
        class="validation-form"
      >
        <nz-form-item>
          <nz-form-label nzFor="name" nzRequired>Name</nz-form-label>
          <nz-form-control nzErrorTip="Please enter the validation name">
            <input nz-input id="name" formControlName="name" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="description" nzRequired
            >Description</nz-form-label
          >
          <nz-form-control nzErrorTip="Please enter a description">
            <textarea
              nz-input
              id="description"
              formControlName="description"
              [nzAutosize]="{ minRows: 2 }"
            ></textarea>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="message" nzRequired>Message</nz-form-label>
          <nz-form-control nzErrorTip="Please enter the error message">
            <textarea
              nz-input
              id="message"
              formControlName="message"
              [nzAutosize]="{ minRows: 2 }"
            ></textarea>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="code" nzRequired>Code</nz-form-label>
          <nz-form-control nzErrorTip="Please enter the code">
            <input nz-input id="code" formControlName="code" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="ruleExpression" nzRequired
            >Rule Expression</nz-form-label
          >
          <nz-form-control
            nzErrorTip="The expression is required and must be valid."
          >
            <!-- This custom component must implement ControlValueAccessor to work with formControlName -->
            <app-rule-builder
              formControlName="ruleExpression"
              (valueChange)="onRuleExpressionChange($event)"
            ></app-rule-builder>
            <div
              *ngIf="validationForm.get('ruleExpression')?.value"
              class="spel-preview-container"
            >
              <strong>Generated Rule Expression:</strong>
              <code>{{ validationForm.get('ruleExpression')?.value }}</code>
            </div>
          </nz-form-control>
        </nz-form-item>
        

        <nz-form-item>
          <nz-form-control>
            <button
              nz-button
              nzType="primary"
              [disabled]="!validationForm.valid || isLoading"
            >
              Save
            </button>
            <button
              nz-button
              type="button"
              (click)="cancel()"
              class="cancel-button"
            >
              Cancel
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </nz-content>
</nz-layout>
