
<div class="custom-entry-form" id="_custom_entry_form">
  <div class="row">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-{{ messageType }} alert-dismissible fade show" *ngIf="message" role="alert">
          {{ message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div [innerHTML]="_htmlMarkup"></div>
    </div>
  </div>
</div>

<div *ngIf="!(presetValuesSections || dataSetDataValues || dataSetFormDesign)">
  To view Preset Values Data Entry Forms 1. Drill Down the Orgunit component (on
  the left) to Facility Level 2. The selected Facility Level will be highlighted
</div>






<!-- <div>
  <ngx-dhis2-period-filter [selectedPeriods]="selectedPeriodItems" [periodFilterConfig]="periodFilterConfig"
    [selectedPeriodFilterType]="'Range'" (update)="onPeriodUpdate($event, 'UPDATE')"
    (change)="onPeriodUpdate($event, 'CHANGE')" (close)="onPeriodUpdate($event, 'CLOSE')">
  </ngx-dhis2-period-filter>
</div> -->
