<form [formGroup]="instanceForm" (ngSubmit)="onSubmit()">
  <div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Name</nz-form-label>
        <nz-form-control nzErrorTip="Name is required">
          <input
            nz-input
            formControlName="name"
            placeholder="Enter instance name"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Code</nz-form-label>
        <nz-form-control nzErrorTip="Code is required">
          <input nz-input formControlName="code" placeholder="Enter code" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzJustify="end" style="margin-top: 16px">
    <nz-spin [nzSpinning]="isSubmitting">
      <button nz-button nzType="primary" [disabled]="!instanceForm.valid">
        Submit
      </button>
    </nz-spin>
  </div>
</form>
