<nz-layout>
  <nz-content>
    <nz-breadcrumb class="breadcrumb">
      <nz-breadcrumb-item>
        <a [routerLink]="['/home']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/workflows']">Client</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <div class="inner-content">
      <div nz-row>
        <div style="padding: 16px; width: 100%">
          <div style="margin-bottom: 16px">
            <search-bar
              [labelText]="'Search client:'"
              (inputSearchValue)="onDatasetsSearchInputTyping($event)"
            ></search-bar>
          </div>

          <nz-table
            nzShowSizeChanger
            [nzData]="listOfHduClients"
            [nzFrontPagination]="false"
            [nzLoading]="loading"
            [nzTotal]="total"
            [nzPageSize]="pageSize"
            [nzPageIndex]="pageIndex"
            (nzQueryParams)="onQueryParamsChange($event)"
          >
            <thead>
              <tr>
                <th>SN</th>
                <th>Client ID</th>
                <th>First name</th>
                <th>Middle name</th>
                <th>Surname</th>
                <th>Gender</th>
                <th>ID number</th>
                <th>ID type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              @for (data of listOfHduClients; track
              data.demographicDetails.fname; let i = $index ) {
              <tr>
                <td>
                  {{ pageIndex === 1 ? i + 1 : (pageIndex - 1) * 10 + i + 1 }}
                </td>
                <td>
                  <!-- Use primary color from theme  -->
                  <span style="color: #1890ff">{{
                    data.demographicDetails.clientID
                  }}</span>
                </td>
                <td>{{ data.demographicDetails.fname }}</td>
                <td>{{ data.demographicDetails.mname }}</td>
                <td>{{ data.demographicDetails.surname }}</td>
                <td>{{ data.demographicDetails.gender }}</td>
                <td>{{ data.demographicDetails.idNumber }}</td>
                <td>{{ data.demographicDetails.idType }}</td>
                <td>
                  <button
                    nz-button
                    nzType="text"
                    class="view-button"
                    (click)="viewClientDetails(data)"
                  >
                    View
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout>
