<div style="padding: 16px">
  <div style="margin-bottom: 16px">
    <app-search [labelText]="'Search client:'"></app-search>
  </div>

  <nz-table
    #rowSelectionTable
    nzShowPagination
    nzShowSizeChanger
    [nzData]="listOfData"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
  >
    <thead>
      <tr>
        <th>SN</th>
        <th>Client ID</th>
        <th>First name</th>
        <th>Middle name</th>
        <th>Surname</th>
        <th>Gender</th>
        <th>ID number</th>
        <th>ID type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (data of listOfCurrentPageData; track data.fname) {
      <tr>
        <td>{{ data.sn }}</td>
        <td>
          <!-- Use primary color from theme  -->
          <span style="color: #1890ff">{{ data.clientID }}</span>
        </td>
        <td>{{ data.fname }}</td>
        <td>{{ data.mname }}</td>
        <td>{{ data.surname }}</td>
        <td>{{ data.gender }}</td>
        <td>{{ data.idNUmber }}</td>
        <td>{{ data.idType }}</td>
        <td>
          <button
            nz-button
            nzType="text"
            style="color: #1890ff"
            (click)="onView()"
          >
            View
          </button>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
</div>
