<div class="w-100">
  <div
    class="w-100 section"
    *ngFor="let section of dataset?.datasetFields?.sections"
  >
    <div class="h5 text-muted">
      {{ section?.name }}
    </div>
    <div class="w-100 mt-2" style="overflow: auto">
      <table class="table table-bordered">
        <tbody>
          <tr
            *ngFor="let dataElement of section?.dataElements; let count = index"
          >
            <th style="width: 20px">
              {{ count + 1 }}
            </th>
            <td style="max-width: 300px">
              {{ dataElementsDetails[dataElement?.id]?.name }}
            </td>
            <td
              *ngFor="
                let entryInput of dataElementsDetails[dataElement?.id]
                  ?.categoryCombo?.categoryOptionCombos
              "
            >
              <app-dataelement-entry-field
                [entryInput]="entryInput"
                [dataElement]="dataElementsDetails[dataElement?.id]"
                (openDialog)="onOpenDialog(datasources, $event)"
              ></app-dataelement-entry-field>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
