.inner-content {
  width: 100%;
  margin-top: 66px;
  padding: 16px;
}

.add-button {
  margin-bottom: 16px;
}

nz-form-label {
  margin-right: 16px;
  margin-bottom: 8px;
}

nz-form-control {
  width: 100%;
}

.delete-button {
  padding-left: 0;
  margin-left: 0;
  color: #ff4d4f;
}

.centered-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-container {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  z-index: 1000; /* Ensure it is above other elements */
}