<div class="inner-content">
  <nz-card style="width: 100%">
    <div>
      <h3>Mapping Configurations</h3>
    </div>

    <div nz-row nzJustify="space-between">
      <div nz-col nzSpan="20"></div>
      <div nz-col nzSpan="3">
        <button
          class="add-button"
          nz-button
          nzType="primary"
          (click)="onOpenSideDrawer()"
        >
          Add configuration
        </button>
      </div>
    </div>

    <nz-table
      nzShowSizeChanger
      [nzData]="listOfConfigurations"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th>SN</th>
          <th>Code</th>
          <th>Name</th>
          <th>Options</th>
          <th class="centered-cell">Action</th>
        </tr>
      </thead>
      <tbody>
        @for (data of listOfConfigurations; track data.uuid; let i = $index ) {
        <tr>
          <td>{{ pageIndex === 1 ? i + 1 : (pageIndex - 1) * 10 + i + 1 }}</td>
          <td>{{ data.code }}</td>
          <td>{{ data.name }}</td>
          <td>
            <ng-container *ngFor="let option of data.options">
              <nz-tag style="margin-right: 16px">
                <ng-container *ngFor="let key of getKeys(option)">
                  {{ key }}: {{ option[key] }}
                </ng-container>
              </nz-tag>
            </ng-container>
          </td>
          <td class="centered-cell">
            <button
              style="margin-right: 1rem"
              nz-button
              nzType="default"
              nzDanger
              (click)="showDeleteConfirm(data.uuid ?? '')"
            >
              <span
                class="delete-button"
                nz-icon
                nzType="delete"
                nzTheme="outline"
              ></span>
            </button>
            <button
              nz-button
              nzType="default"
              (click)="editConfiguration(data)"
            >
              <span
                class="edit-button"
                nz-icon
                nzType="edit"
                nzTheme="outline"
              ></span>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </nz-table>
  </nz-card>
</div>

<div class="alert-container">
  <nz-spin [nzSpinning]="isDeleting">
    <nz-alert
      nzCloseable
      *ngIf="alert.show"
      [nzType]="
        alert.type === 'success'
          ? 'success'
          : alert.type === 'info'
          ? 'info'
          : 'error'
      "
      [nzMessage]="alert.message"
      (nzOnClose)="onCloseAlert()"
      nzShowIcon
    ></nz-alert>
  </nz-spin>
</div>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="isDrwawerVisible"
  [nzFooter]="footerTpl"
  nzTitle="Create configuration"
  (nzOnClose)="onCloseSideDrawer()"
>
  <div *nzDrawerContent>
    <!-- configuration form  -->
    <div nz-row [nzGutter]="16" style="margin-bottom: 16px">
      <div nz-col nzSpan="12">
        <nz-select
          style="width: 100%"
          [ngModel]="selectedConfigurationType"
          (ngModelChange)="onConfigurationTypeSelect($event)"
        >
          <ng-container *ngFor="let option of configurationTypes">
            <nz-option
              [nzValue]="option.key"
              [nzLabel]="option.name"
            ></nz-option>
          </ng-container>
          <nz-option
            [nzValue]="selectedConfigurationType"
            [nzLabel]="
              selectedConfigurationType !== ''
                ? selectedConfigurationType
                : 'Configuration Type'
            "
            nzHide
          ></nz-option>
        </nz-select>
      </div>
    </div>
    <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>Configuration Name</nz-form-label>
            <nz-form-control nzErrorTip="Configuration name is required">
              <input
                nz-input
                formControlName="configurationName"
                placeholder="Enter Configuration name"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>Configuration Code</nz-form-label>
            <nz-form-control nzErrorTip="Configuration code is required">
              <input
                nz-input
                formControlName="configurationCode"
                placeholder="Enter Configuration code"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="16" style="margin-top: 16px">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>Options</nz-form-label>
            <nz-form-control nzErrorTip="Options are required">
              <textarea
                nz-input
                formControlName="options"
                [placeholder]="optionPlaceHolder"
                [nzAutosize]="{ minRows: 4, maxRows: 12 }"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzJustify="end" style="margin-top: 16px">
        <nz-spin [nzSpinning]="isSubmitting">
          <button
            nz-button
            nzType="primary"
            [disabled]="!settingsForm.valid || selectedConfigurationType === ''"
          >
            Submit
          </button>
        </nz-spin>
      </div>
    </form>

    <!-- option element form  -->
    <!-- <form [formGroup]="optionElementForm" (ngSubmit)="onAddOptionElement()">
      <div nz-row [nzGutter]="16" style="margin-top: 16px" nzAlign="bottom">
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label>Key</nz-form-label>
            <nz-form-control nzErrorTip="Option name is required">
              <input
                nz-input
                formControlName="key"
                placeholder="Enter option name"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label>Value</nz-form-label>
            <nz-form-control nzErrorTip="Option code is required">
              <input
                nz-input
                formControlName="value"
                placeholder="Enter option code"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <div nz-row nzJustify="end">
            <button nz-button [disabled]="!optionElementForm.valid">
              Add Option element
            </button>
          </div>
        </div>
      </div>
    </form> -->

    <!-- option form -->
    <!-- <form [formGroup]="optionForm" (ngSubmit)="onAddOption()">
      <div nz-row [nzGutter]="16" style="margin-top: 16px">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>Construct option</nz-form-label>
            <nz-form-control nzErrorTip="Option is required">
              <textarea
                nz-input
                formControlName="option"
                placeholder="Option is constructed here"
                [nzAutosize]="{ minRows: 4, maxRows: 6 }"
                readonly
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzJustify="end" style="margin-top: 16px">
        <button nz-button nzType="primary" [disabled]="!optionForm.valid">
          Add option
        </button>
      </div>
    </form> -->
  </div>
</nz-drawer>

<ng-template #footerTpl>
  <div style="float: right">
    <button nz-button style="margin-right: 8px" (click)="onCloseSideDrawer()">
      Cancel
    </button>
  </div>
</ng-template>
