<nz-modal [(nzVisible)]="showModal" nzTitle="Session Expiring Soon" [nzClosable]="false" [nzMaskClosable]="false"
    [nzFooter]="modalFooter" nzWidth="480px">
    <ng-container *nzModalContent>
        <div class="session-warning-content">
            <div class="warning-icon">
                <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
            </div>

            <p class="warning-message">
                Your session is about to expire due to inactivity. You will be automatically logged out in:
            </p>

            <div class="countdown-timer">
                {{ formattedTime() }}
            </div>

            <nz-progress [nzPercent]="progressPercentage()" nzStatus="active" [nzShowInfo]="false"
                nzStrokeColor="#ff4d4f"></nz-progress>

            <p class="help-text">
                Click "Stay Logged In" to continue your session, or "Logout" to end it now.
            </p>
        </div>
    </ng-container>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="logoutNow()">
            Logout
        </button>
        <button nz-button nzType="primary" (click)="extendSession()">
            Stay Logged In
        </button>
    </ng-template>
</nz-modal>