.logo {
  margin: 3vw;
  height: 100px;
  width: 120px;
}

img {
  max-width: 100%;
  height: auto;
}

.form-input {
  margin-top: 28px;
  width: 300px;
}

.icon-style {
  color: var(--primary-color);
}

.form-title {
  display: flex;
  align-items: center;
}

.form-elements-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
}
