.logo {
  margin: 3vw;
  height: 100px;
  width: 120px;
}

img {
  max-width: 100%;
  height: auto;
}

.login-form {
  width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.full-height {
  height: 100%;
}

.login-form-button {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
