.not-started {
    background-color: gray;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
}

.running {
    background-color: yellow;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
}

.completed {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
}

.failed {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
}

.text-align-center {
    text-align: center !important;
}

.text-status {
    padding: 10px;
}