[nz-row] {
    background-color: rgba(128, 128, 128, 0.08);
    width: 70vw;
    height: 60vh;
}

[nz-tabset] {
    margin: 5px;
    padding: 10px !important;
}

.tabset-container {
    padding: 10px;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* Make the content stretch to full width */
}

.config-container {
    display: flex;
    margin-bottom: 15px;
    gap: 16px; // Space between the select elements
    width: 100%; // Ensure it takes full width

    nz-select {
        flex: 1; // Ensure both selects take equal width
    }
}