<div nz-row>
  <div nz-col nzFlex="2">
    <div class="tabset-container">
        <nz-tabset>
            <nz-tab nzTitle="Details">
              <div>
                <input nz-input placeholder="Name" type="number" />
                <br />
                <br />
                <input nz-input placeholder="Description" type="number" />
                <br />
                <br />
                <input nz-input placeholder="Description" />
              </div>
            </nz-tab>
            <nz-tab nzTitle="Settings">
              <div>
                <input nz-input placeholder="Parameter Name" type="number" />
                <br />
                <br />
                <input nz-input placeholder="Parameter Data Type" type="number" />
                <br />
                <br />
                <input nz-input placeholder="Parameter Value" />
              </div>
            </nz-tab>
            <nz-tab nzTitle="Editor Configuration">
              <div class="config-container">
                  <nz-select [(ngModel)]="currentConfig.theme" (ngModelChange)="onThemeChange($event)" style="flex: 1;">
                    <nz-option nzValue="vs-light" nzLabel="Light Theme"></nz-option>
                    <nz-option nzValue="vs-dark" nzLabel="Dark Theme"></nz-option>
                  </nz-select>
                </div>
                <div class="config-container">
                
                  <nz-select [(ngModel)]="currentConfig.language" (ngModelChange)="onLanguageChange($event)" style="flex: 1;">
                    <nz-option nzValue="javascript" nzLabel="JavaScript"></nz-option>
                    <nz-option nzValue="typescript" nzLabel="TypeScript"></nz-option>
                  </nz-select>
                </div>
            </nz-tab>
          </nz-tabset>
    </div>
  </div>
  <div nz-col nzFlex="3">
    <app-code-editor
      [codeSnippet]="code"
      [editorOptionsParams]="editorOptions"
    ></app-code-editor>
  </div>
</div>
