<div class="inner-content">
  <nz-card style="width: 100%">
    <div>
      <h3>Settings</h3>
    </div>

    <div nz-row nzJustify="space-between">
      <div nz-col nzSpan="20"></div>
      <div nz-col nzSpan="3">
        <button
          class="add-button"
          nz-button
          nzType="primary"
          (click)="onOpenSideDrawer()"
        >
          Add configuration
        </button>
      </div>
    </div>

    <nz-table
      nzShowSizeChanger
      [nzData]="listOfConfigurations"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th>SN</th>
          <th>Code</th>
          <th>Name</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        @for (data of listOfConfigurations; track data.key; let i = $index ) {
        <tr>
          <td>{{ pageIndex === 1 ? i + 1 : (pageIndex - 1) * 10 + i + 1 }}</td>
          <td>{{ data.value.code }}</td>
          <td>{{ data.value.name }}</td>
          <td>
            @for (option of data.options; track option.code) {
            <nz-tag style="margin-right: 16px">{{ option.name }}</nz-tag>
            }
          </td>
        </tr>
        }
      </tbody>
    </nz-table>
  </nz-card>
</div>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="isDrwawerVisible"
  [nzFooter]="footerTpl"
  nzTitle="Create configuration"
  (nzOnClose)="onCloseSideDrawer()"
>
  <div *nzDrawerContent>
    <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>Configuration Name</nz-form-label>
            <nz-form-control nzErrorTip="Configuration name is required">
              <input
                nz-input
                formControlName="configurationName"
                placeholder="Enter Configuration name"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>Configuration Code</nz-form-label>
            <nz-form-control nzErrorTip="Configuration code is required">
              <input
                nz-input
                formControlName="configurationCode"
                placeholder="Enter Configuration code"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [nzGutter]="16" style="margin-top: 16px">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>Options</nz-form-label>
            <nz-form-control nzErrorTip="Options are required">
              <textarea
                nz-input
                formControlName="options"
                placeholder="Options will be populated here"
                [nzAutosize]="{ minRows: 4 }"
                readonly
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzJustify="end" style="margin-top: 16px">
        <nz-spin [nzSpinning]="isSubmitting">
          <button nz-button nzType="primary" [disabled]="!settingsForm.valid">
            Submit
          </button>
        </nz-spin>
      </div>
    </form>

    <form [formGroup]="optionForm" (ngSubmit)="onAddOption()">
      <div nz-row [nzGutter]="16" style="margin-top: 16px" nzAlign="bottom">
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label>Option Name</nz-form-label>
            <nz-form-control nzErrorTip="Option name is required">
              <input
                nz-input
                formControlName="optionName"
                placeholder="Enter option name"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label>Option Code</nz-form-label>
            <nz-form-control nzErrorTip="Option code is required">
              <input
                nz-input
                formControlName="optionCode"
                placeholder="Enter option code"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <div nz-row nzJustify="end">
            <button nz-button [disabled]="!optionForm.valid">Add option</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</nz-drawer>

<ng-template #footerTpl>
  <div style="float: right">
    <button nz-button style="margin-right: 8px" (click)="onCloseSideDrawer()">
      Cancel
    </button>
  </div>
</ng-template>
