<nz-layout>
    <nz-content>
        <nz-breadcrumb class="breadcrumb">
            <nz-breadcrumb-item>
                <a [routerLink]="['/home']">Home</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a [routerLink]="['/workflows']">Workflows</a>
            </nz-breadcrumb-item>
        </nz-breadcrumb>

        <div class="inner-content">
            <div nz-row>
                <div nz-col nzFlex="5">
                    <div class="some-container-with-large-dimensions" ngFlowchartCanvas></div>
                    <app-flow-chart></app-flow-chart>
                </div>
                <div style="background-color: orchid" nz-col nzFlex="1">
                    <app-flow-config></app-flow-config>
                </div>
            </div>
        </div>
    </nz-content>
</nz-layout>