/* ---  */
* {
  box-sizing: border-box;
}

main {
  display: flex;
  // height: 100vh;
  width: 100%;
}

#canvas {
  height: calc(100vh - 120px);
  background: #fff;
//   border: 1px solid lightgray;
  flex: 1;
  margin: 0px 0px 0 0px;
  background-size: 30px 30px;
  // background-image: linear-gradient(to right, #d9d9d9 1px, transparent 1px),
  //     linear-gradient(to bottom, #d9d9d9 1px, transparent 1px);
}

#palette {
  width: 300px;
  padding: 16px;

  & .plugin-op {
    padding: 12px;
    user-select: none;
    display: block;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }
}

section {
  padding: 1em;
  border-bottom: 1px solid lightgrey;

  & .wide {
    width: 100%;
  }
}

.sub-section {
  padding: 0.5em 0;
}

select {
  padding: 0.3em;
}

.card {
  padding: 1em;
  background: white;
  border-radius: 1px;
  min-width: 12em;
  height: 4em;
  text-align: center;
  border: 1px solid #000;
  font-weight: bold;
  font-size: 25px !important;
}

div#canvas[disabled='true'] {
  opacity: 0.7;
}

div#canvas[disabled='true'] ::ng-deep.ngflowchart-step-wrapper {
  opacity: 0.7;
}

/* Style when the item is selected */
.selected-class {
  background-color: #eee;
  border: 2px dashed green !important;
  font-weight: bold;
  cursor: pointer;
  /* Change cursor when item is selected */
}

/* Style when the item is not selected */
.non-selected-class {
  background-color: none;
  cursor: default;
  /* Default cursor for non-selected */
}

/* Change cursor when hovering over a non-selected item */
.non-selected-class:hover {
  cursor: pointer;
  /* Change cursor to pointer when hovering on non-selected item */
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

.item-content {
  display: inline-block;
}

.item-actions {
  display: flex;
  align-items: center;
}

.status-icon {
  margin-left: 10px;
  color: #52c41a;
  /* Green color for running status */
}

.add-new-button {
  margin-top: 20px;
}

.button-gap {
  margin-right: 10px;
  /* Adjust the value to control the gap */
}

.button-gap:last-child {
  margin-right: 0;
  /* Remove margin from the last button */
}

.full-width-select {
  width: 100%;
}

.button-container {
  display: flex;
  /* Use flexbox for alignment */
  gap: 10px;
  /* Adjust the value to control the gap between buttons */
}
