<div style="padding: 16px">
  <button nz-button nzType="default" (click)="backToList()">
    Back to List
  </button>
  <div
    *ngIf="loading"
    style="
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      z-index: 999;
    "
  >
    <div
      style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
    >
      <nz-spin nzSimple nzSize="large"></nz-spin>
    </div>
  </div>
  <div *ngIf="!loading && !client">
    <nz-empty nzNotFoundImage="simple"></nz-empty>
  </div>
  <div *ngIf="client">
    <nz-card style="width: 100%; margin-top: 16px; min-height: 60vh">
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="8">
          <nz-card style="min-height: 60vh">
            <h2>Basic Information</h2>
            <ul class="no-bullets">
              <li *ngFor="let key of objectKeys(basicInfo)">
                <strong> {{ key }} </strong>:{{ basicInfo[key] }}
              </li>
            </ul>

            <br />

            <!-- <h2>Other Informations</h2>
            <ul class="no-bullets">
              <div *ngFor="let id of identifiers">
                <li *ngFor="let key of objectKeys(id)">
                  <strong>{{ key }} </strong>:{{ id[key] }}
                </li>
              </div>
            </ul> -->
          </nz-card>
        </div>
        <div nz-col nzSpan="16">
          <nz-card style="min-height: 60vh">
            <div>
              <h2>Visits</h2>
              @for (visit of visits; track visit; let i = $index) {
              <nz-collapse style="margin-bottom: 24px">
                <nz-collapse-panel
                  nzHeader="Visit #{{ i + 1 }} - {{
                    visit.extraInfo[0].info.Name
                  }} - {{ visit.extraInfo[1].info['Visit Date'] }}"
                >
                  <p style="margin: 0">
                    <!-- {{visit.extraInfo[1].info['Visit Date'] | json}} -->
                  </p>
                  <nz-tabset>
                    <!-- <h2>{{visit | json}}</h2> -->
                    <div *ngFor="let section of visit.extraInfo">
                      <nz-tab nzTitle="{{ section.sectionTitle }}">
                        <ul class="no-bullets">
                          <li *ngFor="let key of objectKeys(section.info)">
                            <div
                              nz-row
                              nzJustify="space-between"
                              style="padding: 8px 0"
                            >
                              <div nz-col nzSpan="6">
                                <strong>{{ key }}</strong>
                              </div>
                              <div nz-col nzSpan="12" style="text-align: right">
                                <app-dynamic-list
                                  [value]="section.info[key]"
                                ></app-dynamic-list>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </nz-tab>
                    </div>
                  </nz-tabset>
                </nz-collapse-panel>
              </nz-collapse>
              }
            </div>
          </nz-card>
        </div>
        <div nz-col nzSpan="8">
          <nz-card style="min-height: 60vh">
            <div nz-row nzJustify="space-between" nzAlign="middle">
              <div nz-col nzSpan="12">
                <h2>Files</h2>
              </div>
              <div nz-col nzSpan="12">
                <nz-upload
                  [nzAction]="getAddress()"
                  (nzChange)="handleChange($event)"
                >
                  <button nz-button>
                    <span nz-icon nzType="upload" nzTheme="outline"></span>
                    Add
                  </button>
                </nz-upload>
              </div>
            </div>
            <nz-table #basicTable [nzData]="files" *ngIf="files.length">
              <thead>
                <tr>
                  <th>Name</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let file of files">
                  <td>{{ file.name }}</td>
                  <td>
                    <a
                      (click)="viewFile(file)"
                      (keyup.enter)="viewFile(file)"
                      tabindex="0"
                      >View</a
                    >
                  </td>
                  <td>
                    <button
                      nz-button
                      nzType="text"
                      (click)="
                        showDeleteConfirm(
                          'Are you sure you want to delete ' +
                            ' ' +
                            file.name +
                            '? This action cannot be undone.',
                          file
                        )
                      "
                      style="padding: 0; border: none; height: auto"
                    >
                      <i
                        nz-icon
                        nzType="delete"
                        nzTheme="outline"
                        style="color: #ff4d4f"
                      ></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </nz-card>
        </div>
      </div>
    </nz-card>
  </div>
</div>
