<form [formGroup]="workflowForm">
  <div nz-row>
    <div class="form-input-container">
      <input nz-input placeholder="Name" formControlName="name" type="text" />
      <br /><br />
      <input nz-input placeholder="Description" formControlName="description" type="text" />
      <br /><br />
      <div>
        <button (click)="onAddWorkflow()" [disabled]="!workflowForm.valid" *ngIf="(savingWorkflowStatus$ | async) === false" nz-button
          nzType="primary" [nzLoading]="false" nzLoading>
          <span nz-icon nzType="poweroff"></span>
          Save Workflow
        </button>
        <button *ngIf="(savingWorkflowStatus$ | async) !== false" nz-button nzType="primary" nzLoading>
          <span nz-icon nzType="poweroff"></span>
          Saving Workflow...
        </button>
      </div>
    </div>
  </div>
</form>