.page-header {
  margin-bottom: 24px;
}

.title {
  margin-bottom: 24px;
}

.alert {
  margin-bottom: 24px;
}

.card {
  margin-bottom: 16px;
}

.sub-alert {
  margin-bottom: 16px;
}

.sticky {
  position: sticky;
  top: 24px;
}

.title {
  color: #1e3a8a;
}
