<nz-select [nzMode]="isMultiple ? 'multiple' : 'default'" [nzPlaceHolder]="placeHolder" nzAllowClear nzShowSearch
  nzServerSearch (nzOnSearch)="onSearch($event)" (ngModelChange)="onSelect($event)"
  [nzAutoClearSearchValue]="false">
  @if (!isLoading) { @for (option of optionList; track option) {
  <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
  } } @else {
  <nz-option nzDisabled nzCustomContent>
    <span nz-icon nzType="loading" class="loading-icon"></span>
    Loading Data...
  </nz-option>
  }
</nz-select>
